In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

In [21]:
df = pd.read_csv('Fully_Encoded.csv')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,10919.0,26.0,2006.0,10.0,361.0,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,77.000000,322.000000,1008.000000,1.000000
1,9265.0,11.0,1985.0,4.0,361.0,29.08,3.58,6.81,0.77,40.24,68.997119,26.440992,74.727254,163.008846,835.050081,3.558616
2,5534.0,26.0,2008.0,6.0,361.0,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,80.000000,709.000000,1008.000000,1.000000
3,10921.0,26.0,2009.0,10.0,361.0,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,77.000000,192.000000,1008.000000,1.000000
4,7294.0,5.0,1996.0,7.0,361.0,11.27,8.89,10.22,1.00,31.37,68.997119,26.440992,74.727254,163.008846,835.050081,3.558616

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16416 entries, 0 to 16415
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16416 non-null  float64
 1   Platform         16416 non-null  float64
 2   Year_of_Release  16416 non-null  float64
 3   Genre            16416 non-null  float64
 4   Publisher        16416 non-null  float64
 5   NA_Sales         16416 non-null  float64
 6   EU_Sales         16416 non-null  float64
 7   JP_Sales         16416 non-null  float64
 8   Other_Sales      16416 non-null  float64
 9   Global_Sales     16416 non-null  float64
 10  Critic_Score     16416 non-null  float64
 11  Critic_Count     16416 non-null  float64
 12  User_Score       16416 non-null  float64
 13  User_Count       16416 non-null  float64
 14  Developer        16416 non-null  float64
 15  Rating           16416 non-null  float64
dtypes: float64(16)
memory usage: 2.0 MB

In [23]:
X = df.iloc[:,[1,2,3,4,9,10,11,12,13,14,15]]
y = df.iloc[:,[5,6,7,8]]
X.head()

,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,26.0,2006.0,10.0,361.0,82.53,76.000000,51.000000,77.000000,322.000000,1008.000000,1.000000
1,11.0,1985.0,4.0,361.0,40.24,68.997119,26.440992,74.727254,163.008846,835.050081,3.558616
2,26.0,2008.0,6.0,361.0,35.52,82.000000,73.000000,80.000000,709.000000,1008.000000,1.000000
3,26.0,2009.0,10.0,361.0,32.77,80.000000,73.000000,77.000000,192.000000,1008.000000,1.000000
4,5.0,1996.0,7.0,361.0,31.37,68.997119,26.440992,74.727254,163.008846,835.050081,3.558616

In [24]:
y.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales
0     41.36     28.96      3.77         8.45
1     29.08      3.58      6.81         0.77
2     15.68     12.76      3.79         3.29
3     15.61     10.93      3.28         2.95
4     11.27      8.89     10.22         1.00

## After testing, applying StandardScaler() to X make the predict result much more accurate.
## It increses the score 20-75 times, and lower the MSE 50-100 times.

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
Xs = StandardScaler()
Xs.fit(X_train)
X_train = Xs.transform(X_train)
X_test = Xs.transform(X_test)

clf_NA = MLPRegressor(hidden_layer_sizes=(150, 100, 50),  activation='relu', solver='adam', alpha=1e-4, batch_size='auto',learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=5000, shuffle=True,random_state=42)
clf_EU = MLPRegressor(hidden_layer_sizes=(150, 100, 50),  activation='relu', solver='adam', alpha=1e-4, batch_size='auto',learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=5000, shuffle=True,random_state=42)
clf_JP = MLPRegressor(hidden_layer_sizes=(150, 100, 50),  activation='relu', solver='adam', alpha=1e-4, batch_size='auto',learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=5000, shuffle=True,random_state=42)
clf_Other = MLPRegressor(hidden_layer_sizes=(150, 100, 50),  activation='relu', solver='adam', alpha=1e-4, batch_size='auto',learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=5000, shuffle=True,random_state=42)

clf_NA.fit(X_train, y_train['NA_Sales'])
clf_EU.fit(X_train, y_train['EU_Sales'])
clf_JP.fit(X_train, y_train['JP_Sales'])
clf_Other.fit(X_train, y_train['Other_Sales'])

NA_pred = clf_NA.predict(X_test)
EU_pred = clf_EU.predict(X_test)
JP_pred = clf_JP.predict(X_test)
Other_pred = clf_Other.predict(X_test)

NA_score = clf_NA.score(X_test, y_test['NA_Sales'])
EU_score = clf_EU.score(X_test, y_test['EU_Sales'])
JP_score = clf_JP.score(X_test, y_test['JP_Sales'])
Other_score = clf_Other.score(X_test, y_test['Other_Sales'])

mse_NA = mean_squared_error(NA_pred, y_test['NA_Sales'])
mse_EU = mean_squared_error(EU_pred, y_test['EU_Sales'])
mse_JP = mean_squared_error(JP_pred, y_test['JP_Sales'])
mse_Other = mean_squared_error(Other_pred, y_test['Other_Sales'])

print("Score of NA is:", NA_score)
print("MSE of NA is:", mse_NA)
print("Score of EU is:", EU_score)
print("MSE of EU is:", mse_EU)
print("Score of JP is:", JP_score)
print("MSE of JP is:", mse_JP)
print("Score of Other is:", Other_score)
print("MSE of Other is:", mse_Other)

Score of NA is: 0.9470671285868293
MSE of NA is: 0.04312999954065669
Score of EU is: 0.8949645582075656
MSE of EU is: 0.03941603019473507
Score of JP is: 0.6417147783993526
MSE of JP is: 0.03780553877576726
Score of Other is: 0.7493409901420802
MSE of Other is: 0.014324510126155977

## Tune the parameters using grid search
### For the time effiency, I'm just gonna use adam for solver and 5000 for max iteration

In [26]:
param_grid = {
    'hidden_layer_sizes': [(150,100,50), (120,80,40), (100,50,30)],
    'activation': ['tanh', 'relu'],
    'alpha': [0.0001, 0.05]
}

grid_NA = GridSearchCV(clf_NA, param_grid, n_jobs=-1, cv=5)
grid_NA.fit(X_train, y_train['NA_Sales'])
grid_EU = GridSearchCV(clf_EU, param_grid, n_jobs=-1, cv=5)
grid_EU.fit(X_train, y_train['EU_Sales'])
grid_JP = GridSearchCV(clf_JP, param_grid, n_jobs=-1, cv=5)
grid_JP.fit(X_train, y_train['JP_Sales'])
grid_Other = GridSearchCV(clf_Other, param_grid, n_jobs=-1, cv=5)
grid_Other.fit(X_train, y_train['Other_Sales'])

print('Best parameters for NA:', grid_NA.best_params_)
print('Best parameters for EU:', grid_EU.best_params_)
print('Best parameters for JP:', grid_JP.best_params_)
print('Best parameters for Other:', grid_Other.best_params_)

Best parameters for NA: {'activation': 'relu', 'alpha': 0.05, 'hidden_layer_sizes': (150, 100, 50)}
Best parameters for EU: {'activation': 'relu', 'alpha': 0.05, 'hidden_layer_sizes': (150, 100, 50)}
Best parameters for JP: {'activation': 'relu', 'alpha': 0.05, 'hidden_layer_sizes': (100, 50, 30)}
Best parameters for Other: {'activation': 'tanh', 'alpha': 0.05, 'hidden_layer_sizes': (100, 50, 30)}

In [27]:
NA_pred_grid = grid_NA.predict(X_test)
mse_NA_grid = mean_squared_error(NA_pred_grid, y_test['NA_Sales'])
EU_pred_grid = grid_EU.predict(X_test)
mse_EU_grid = mean_squared_error(EU_pred_grid, y_test['EU_Sales'])
JP_pred_grid = grid_JP.predict(X_test)
mse_JP_grid = mean_squared_error(JP_pred_grid, y_test['JP_Sales'])
Other_pred_grid = grid_Other.predict(X_test)
mse_Other_grid = mean_squared_error(Other_pred_grid, y_test['Other_Sales'])

print('Score for NA after grid search:', grid_NA.best_score_)
print('MSE for NA after grid search:', mse_NA_grid)
print('Score for EU after grid search:', grid_EU.best_score_)
print('MSE for EU after grid search:', mse_EU_grid)
print('Score for JP after grid search:', grid_JP.best_score_)
print('MSE for JP after grid search:', mse_JP_grid)
print('Score for Other after grid search:', grid_Other.best_score_)
print('MSE for Other after grid search:', mse_Other_grid)

Score for NA after grid search: 0.9138346432010358
MSE for NA after grid search: 0.05074266439060741
Score for EU after grid search: 0.8481941623042714
MSE for EU after grid search: 0.04146098059264895
Score for JP after grid search: 0.6052128589140396
MSE for JP after grid search: 0.04144568324899125
Score for Other after grid search: 0.7175476214659221
MSE for Other after grid search: 0.023706808729917803